.mini-map {
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 30px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    /* color: black; */
}

/* .center {
    background-color: white;
    margin: auto;
    margin-top: 45%;
    height: 10%;
    width: 10%;
} */


.row {
    height: 11.1111111%;
    display: flex;
}

.col {
    width: 11.1111111%;
    color: white;
    background-color: brown;
}
.light {
    color: black;
    background-color: lightyellow;
}
.dark {
    color: black;
    background-color: lightgrey;
}
.center {
    color: black;
    width: calc(11.1111111% - 1px);
    background-color: white;
    border: 1px solid;
    /* color: cyan; */
}


.blue {
    background-color: blue;
}
.grey {
    background-color: black;
}
.green {
    background-color: green;
}
.orange {
    background-color: orange;
}